.form {

    max-width: 430px;
    width: 100%;
    min-height: 330px;

    padding: 34px 36px 37px;
    box-sizing: border-box;

    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1;

    position: relative;

}

.form::after {

    width: 32px;
    height: 32px;

    background-image: url(../../images/Close.svg);
    background-size: contain;

    position: absolute;
    bottom: calc(100% + 8px);
    left: calc(100% + 8px);

    content: "";

    transition-duration: .7;

}

.form:hover::after {

    opacity: 0.6;

}

@media screen and (max-width: 679px) {

    .form {

        min-width: 282px;
        margin: auto 19px;

        padding: 25px 22px;
    
    }

    .form::after {

        width: 20px;
        height: 20px;

        bottom: calc(100% + 16px);
        left: calc(100% - 20px);
    
    }
    
}