.profile {

    min-height: 120px;

    padding: 40px 0 51px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

@media screen and (max-width:639px) {
    
    .profile {
        
        flex-direction: column;

        padding: 42px 0 36px;

    }
    
}