.profile__add-button {

    max-width: 150px;
    width: 100%;
    max-height: 50px;
    height: 100%;

    transition-duration: 0.7s;

    /* border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;

    background-image: url(../../../images/add.svg); */

}

.profile__add-button:hover {

    opacity: 0.6;

}

@media screen and (max-width:639px) {
    
    .profile__add-button {
        
        width: 100%;

    }
    
}