.form__header {

    margin: 0;
    padding-bottom: 24px;

    text-align: left;

    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

@media screen and (max-width: 679px) {
   
    .form__header {

        font-size: 18px;
        line-height: 22px;
    }
     
}



