@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__block/page__block.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/body/body.css);
@import url(../blocks/body/__block/body__block.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__text/profile__text.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__group/element__group.css);
@import url(../blocks/element/__label/element__label.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_on/element__like_on.css);
@import url(../blocks/element/__like-counter/element__like-counter.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/button/button.css);

@import url(../blocks/button/_type/button_type_add.css);
@import url(../blocks/button/__icon/_el/button__icon_el_add.css);

@import url(../blocks/button/_type/button_type_edit.css);
@import url(../blocks/button/__icon/_el/button__icon_el_edit.css);

@import url(../blocks/button/_type/button_type_save.css);

@import url(../blocks/button/_type/button_type_close.css);
@import url(../blocks/button/__icon/_el/button__icon_el_close.css);

@import url(../blocks/button/_condition/button_condition_inactive.css);

@import url(../blocks/form-container/form-container.css);
@import url(../blocks/form-container/_opened/form-container_opened.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__header/form__header.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__item/form__item.css);
@import url(../blocks/form/__handlers/form__handlers.css);

@import url(../blocks/element/__delete/element__delete.css);

@import url(../blocks/image-popup/image-popup.css);
@import url(../blocks/image-popup/__image/image-popup__image.css);
@import url(../blocks/image-popup/__name/image-popup__name.css);
@import url(../blocks/form-container/_dark/form-container_dark.css);

@import url(../blocks/error/error.css);
@import url(../blocks/error/_active/error_active.css);
@import url(../blocks/form/__item/_type/form__item_type_error.css);