.profile__name {

    margin: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    /* or 114% */

    color: #FFFFFF;

}

@media screen and (max-width:639px) {
    
    .profile__name {
        
        font-size: 27px;
        line-height: 33px;

    }
    
}
