.element__delete {

    min-width: 18px;
    min-height: 19px;

    background: transparent;
    border: 0;

    background-image: url(../../../images/Trash.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    right: 15px;
    top: 18px;

    display: none;

}