.element__like {

    min-width: 22px;
    min-height: 19px;

    position: relative;
    top: -7px;

    background: transparent;
    border: 0;

    background-image: url(../../../images/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}