.footer {

    padding: 67px 0 60px 0;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

@media screen and (max-width:918px) {
    
    .footer {
        
        padding-left: 19px;

    }
    
}

@media screen and (max-width: 679px) {
    
    .footer {

        padding: 48px 0 36px 19px;
    
    }

}