.header {

    padding: 45px 0 41px 0;

    border-bottom: 1px solid rgba(84, 84, 84, .7);

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

@media screen and (max-width:918px) {
    
    .header {
        
        padding-left: 19px;

    }
    
}

@media screen and (max-width:679px) {
    
    .header {

        padding: 28px 0 31px 27px;

    }
    
}